<div class="portada d-flex flex-column align-items-center justify-content-center py-5">
    <h2 class="mt-2 fw-bold text-white">Reservas Tenis</h2>
    <div class="text-white asd mt-4 gap-5">
        <div class="d-flex align-items-center gap-2">
            <div class="bolita blanco"></div>
            <span>Disponible</span>
        </div>
        <div class="d-flex align-items-center gap-2">
            <div class="bolita rojo"></div>
            <span>Ocupado</span>
        </div>
        <div class="d-flex align-items-center gap-2">
            <div class="bolita azul"></div>
            <span>Seleccionado</span>
        </div>
    </div>
</div>