<div class="p-5">
    <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded w-50 m-auto d-flex flex-column align-items-center">

        <h2>INICIAR SESION - SURCO TENIS</h2>
        <figure class="w-50 text-center">
            <img class="w-50" src="/logo.png" alt="">
        </figure>

        <form>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Correo electrónico</label>
                <input type="text" class="form-control" placeholder="name@example.com">
            </div>
        </form>
    </div>
</div>