<div class="container py-4">
    <div class="row">

        <div class="col-9 d-flex justify-content-between">

            <div class="bg-success col-3 d-flex align-items-center justify-content-center gap-2 text-white py-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                    <path
                        d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                </svg>
                <p class="m-0">Selecciona cancha</p>
            </div>

            <div class="col-6">
                <select class="form-select" id="">
                    <option value="">CANCHA TENIS 01</option>
                    <option value="">CANCHA TENIS 02</option>
                    <option value="">CANCHA TENIS 03</option>
                    <option value="">CANCHA TENIS 04</option>
                    <option value="">CANCHA TENIS 05</option>
                    <option value="">CANCHA TENIS 06</option>
                    <option value="">CANCHA TENIS 07</option>
                    <option value="">CANCHA TENIS 08</option>
                    <option value="">CANCHA TENIS 09</option>
                    <option value="">CANCHA TENIS 10</option>
                </select>
            </div>
        </div>

        <div class="col-3">
            <div class="bg-success d-flex justify-content-center align-items-center gap-2 text-white py-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
                    <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z" />
                </svg>
                <p class="m-0">Novedades Surco Tenis</p>
            </div>
        </div>

    </div>
    <div class="row mt-2">
        <div class="col-9">

            <div class="d-flex justify-content-between mt-5">
                <div>
                    <div class="btn-group">
                        <button class="py-2 d-flex btn btn-success">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                                <path
                                    d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                            </svg>
                        </button>
                        <button class="py-2 d-flex btn btn-success">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                <path
                                    d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                            </svg>
                        </button>
                    </div>
                    <button class="btn btn-success ms-3 py-2">Hoy</button>
                </div>

                <p>24 de febrero de 2025</p>

                <button class="btn btn-success">Día</button>
            </div>

        </div>
        <div class="col-3">ss</div>
    </div>

    <div class="row mt-2">

        <div class="col-9">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="small text-success">Hora</th>
                        <th class="dia text-center text-success">Lunes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr (mouseup)="captar($event, hora)" *ngFor="let hora of horario; let i = index;">
                        <td class="bg-amarillo text-center">{{hora.horaInicio}}</td>
                        <td (click)="marcar(i)" class="bg text-center"
                            [ngClass]="hora.seleccionado ? 'bg-seleccionado' : ''">
                            <p class="text-white fw-semibold m-0 p-0" *ngIf="hora.seleccionado">
                                {{horario[i].horaInicio}} - {{horario[i].horaFin}}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-3">
            asd
        </div>

    </div>
</div>